@page
@model IndexPage
@{
    ViewData["Title"] = "El blog de desarrollo de software de Ivan Montilla";
}

@section Styles
{
    <link rel="stylesheet" href="~/styles/index.css">
}

@foreach (var resume in Model.Resumes)
{
    <div class="post">
        <div class="metadata">
            <h1 class="title">
                <a href="@resume.Url">@resume.Title</a>
            </h1>
            <div class="date">@resume.CreatedAt.ToLongDateString()</div>
        </div>

        <div class="content">
            @Html.Raw(resume.Resume)
        </div>

        <div class="post-actions">
            <ul>
                <li>@resume.Comments comentarios</li>
                <li>
                    <a href="@resume.Url">Leer más</a>
                </li>
                <li>
                    <a href="@resume.GitHubUrl" target="_blank">Leer en GitHub</a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="pagination">
    <ul>

        <li>
            <a href="/?page=@(Model.CurrentPage + 1)">Entradas más antiguas</a>
        </li>
        @if (Model.CurrentPage > 1)
        {
            <li>
                <a href="/?page=@(Model.CurrentPage - 1)">Entradas más recientes</a>
            </li>
        }
    </ul>
</div>